---
import BrandIcon from "./BrandIcon.astro";
import Container from "./Container.astro";

type Link = {
  title: string;
  url: string;
};

const internalLinks = [
  { title: "Home", url: "#" },
  { title: "About", url: "#" },
  { title: "Guide", url: "#" },
  { title: "Blocks", url: "#" },
  { title: "Contact", url: "#" },
  { title: "Terms of Use", url: "#" },
];

const externalLinks = [
  { title: "Github", url: "#" },
  { title: "Twitter", url: "#" },
  { title: "YouTube", url: "#" },
  { title: "Facebook", url: "#" },
  { title: "Medium", url: "#" },
  { title: "Pintrest", url: "#" },
  { title: "Patreon", url: "#" },
  { title: "Instagram", url: "#" },
];
---

<footer class=" ">
    <div class="">
      <div class="p-6 w-[100vw] rounded-[--card-border-radius] bg-gray-50 mx-auto  dark:bg-[--card-dark-bg] sm:p-12">
         
          <div class="mt-12 mb-6 flex justify-around gap-4">
              <div>
                <span class="text-gray-950 dark:text-white font-medium">Links</span>
                <ul class="mt-6 space-y-2">
                  {internalLinks.map((link: Link) => (
                    <li>
                      <a href={link.url} class="text-gray-600 dark:text-gray-400 transition hover:text-primary-600 dark:hover:text-primary-400">{link.title}</a>
                    </li>
                  ))}
                </ul>
              </div>
              <span class="block w-px bg-gray-200 dark:bg-gray-800"></span>
              <div>
                <span class="text-gray-950 dark:text-white font-medium">Community</span>
                <ul class="mt-6 space-y-2">
                  {externalLinks.map((link: Link) => (
                    <li>
                      <a href={link.url} class="text-gray-600 dark:text-gray-400 transition hover:text-primary-600 dark:hover:text-primary-400">{link.title}</a>
                    </li>
                  ))}
                </ul>
              </div>
          </div>

      </div>
    </div>
</footer>