---
import BrandIcon from "./BrandIcon.astro";
import Container from "./Container.astro";

type Link = {
  title: string;
  url: string;
};

const internalLinks = [
  { title: "Home", url: "#" },
  { title: "About", url: "#" },
  { title: "Guide", url: "#" },
  { title: "Blocks", url: "#" },
  { title: "Contact", url: "#" },
  { title: "Terms of Use", url: "#" },
];

const externalLinks = [
  { title: "Github", url: "#" },
  { title: "Twitter", url: "#" },
  { title: "YouTube", url: "#" },
  { title: "Facebook", url: "#" },
  { title: "Medium", url: "#" },
  { title: "Pintrest", url: "#" },
  { title: "Patreon", url: "#" },
  { title: "Instagram", url: "#" },
];
---

<footer class=" ">
    <div class="">

    </div>
</footer>