---
import BrandIcon from "./BrandIcon.astro";
import Container from "./Container.astro";

type Link = {
  title: string;
  url: string;
};

const internalLinks = [
  { title: "Home", url: "#" },
  { title: "About", url: "#" },
  { title: "Guide", url: "#" },
  { title: "Blocks", url: "#" },
  { title: "Contact", url: "#" },
  { title: "Terms of Use", url: "#" },
];

const externalLinks = [
  { title: "Github", url: "#" },
  { title: "Twitter", url: "#" },
  { title: "YouTube", url: "#" },
  { title: "Facebook", url: "#" },
  { title: "Medium", url: "#" },
  { title: "Pintrest", url: "#" },
  { title: "Patreon", url: "#" },
  { title: "Instagram", url: "#" },
];
---

<footer class=" ">
    <div class="">
      <div class=" w-[100vw] rounded-[--card-border-radius] bg-gray-50 mx-auto  dark:bg-[--card-dark-bg] p-12">
         
          <div class=" flex justify-around gap-4">
             <!-- copyright made by samyrahim2024 -->
       
          
              <p class="text-gray-600 dark:text-gray-400">© 2024 Samy Rahim. All rights reserved.</p>
 

      </div>
    </div>
</footer>