<a href="/" class="flex gap-6 " aria-label="tailus logo">
   <img src="/my-photo.png" alt="tailus logo" class="w-[5rem] h-[5rem] rounded-full" />
   <div class="bg-white h-[5rem] w-[1px]"></div>
   <p class="text-xl w-40"> <span class="font-bold"> Samy Rahim</span>  <br>       AI Agents & Automation </p>
</a>