---
import { cn } from "@lib/utils"
import {button} from "@tailus/themer-button"
import Frame from "./Frame.astro"
---

<div class="mt-10 m flex flex-col items-center flex-wrap justify-center gap-6">
    <h2 class="text-gray-950 dark:text-white text-4xl font-semibold italic">Let's Talk</h2>
    <p class="text-center max-w-md text-gray-950 dark:text-white">
       Book a free 30-minute consultation and discover how custom AI can solve your most pressing business challenges.
    </p>
    <div class="w-fit">
        <Frame>
            <!-- 
              button.primary.lg = Tailus theme styling for large primary button
              relative z-[1] = Positions button above Frame backdrop
              cn() = Utility to merge classNames
            -->
            <a 
                href="https://www.upwork.com/freelancers/~01755db63445fa078d" 
                class={cn(button.primary.lg, "relative z-[1]")}
            >
                Connect with me on Upwork
            </a>
        </Frame>
    </div>
</div>