---
import Chatbot from "./Chatbot.astro";
import ColdCall from "./ColdCall.astro";
import VoiceInbdound from "./VoiceInbdound.astro";
---

<>
        <h2 class="text-4xl font-semibold text-center text-gray-950 dark:text-white -mb-12">Services Offered</h2>
<ColdCall/>
<Chatbot/>
<VoiceInbdound/>
</>