---
import Container from "./Container.astro";
import Agent from "./Agent.jsx";
---

<section class="max-w-7xl mb-10 mx-auto">
    <Container>
        <div class="flex flex-col lg:flex-row gap-8 items-center justify-center">        
         <div class="lg:w-1/2 order-2 lg:order-1">
            <div class="mt-4  gap-4 flex flex-col p-4 lg:p-6 text-lg w-full">
                <div>
                    <h2 class="text-gray-950 dark:text-white text-4xl font-semibold">Voice Calling Assistants</h2>
                </div>
                <ul class="space-y-3">
                    <li class="text-gray-600 dark:text-gray-400">Perfect for agencies, Real Estate, SMMA... </li>
                    <li class="text-gray-600 dark:text-gray-400">Handle inquiries, schedule viewings, and qualify leads</li>
                    <li class="text-gray-600 dark:text-gray-400">Available 24/7, never miss an opportunity</li>
                </ul>
            </div>
         </div>
         <div class="p-4 lg:p-[--card-padding] overflow-hidden  h-full flex  order-1 lg:order-2">
                <Agent client:load/>
         </div>
        </div>
    </Container>
</section>